.bd
{
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.formComunidade
{
    width: 97%;
    margin: auto;
}

.escopo
{
    width: 1200px;
    margin: auto;
    padding-top: 10px;
}

.card
{
    box-shadow: 1px 1px 5px #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.card-top
{
    display: flex;
    justify-content: space-between;
}

.texto
{
    display: flex;
}

.imgLogin
{
    border-radius: 50px;
    width: 100px;
    box-shadow: 0px 0px 5px #ccc;
}

.titulo
{
    color: #dc3545;
    align-self: center;
    padding-left: 10px;
}
.botoes
{
    align-self: center;
}

.botao
{
    background-image: linear-gradient(to right, rgb(255, 17, 0), rgb(180, 0, 0));
    border-radius: 15px;
    width: 175px;
    padding: 10px;
    border: 0px;
    color: white;
    outline: 0;
    font-size: 17px;
    margin-bottom: 5px;
}

.bottao
{
    background-image: linear-gradient(to right, rgb(255, 17, 0), rgb(180, 0, 0));
    border-radius: 5px;
    width: 100px;
    height: 38px;
    border: 0px;
    color: white;
    outline: 0;
    font-size: 17px;
    margin-bottom: 5px;
}
.bottao:hover
{
    background-image: linear-gradient(to right,rgb(201, 0, 0),rgb(163, 10, 10));
}

.botao:hover
{
    background-image: linear-gradient(to right,rgb(201, 0, 0),rgb(163, 10, 10));
}

.bgNa
{
    background-color: #c50e0e;
}

.pad
{
    padding-right: 5px;
}

.ftr
{
    margin-top: 4px;
    background-color: #292525;
    font-family: sans-serif;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.lista
{
    text-align: center;
    width: 1100px;
}

.listaLi
{
    margin-top: 25px;
    font-size:23px;
}

.comunidadeLista
{
    margin: auto;
}



