<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/styleRegister.css">
    <link rel="stylesheet" href="./assets/css/stylesComum.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/gif" href="./assets/img/favicon.png">
</head>

<body>
    <form class="formRegister" method="POST", action="../DAO/perfil/incluirPerfil.php" >
        <div class="card">
            <div class="card-top">
                <img class="imgLogin" src="./assets/img/CodificandoLogo.png" alt="Logo">
                <h2 class="titulo">Codificando</h2>
                <p>Cadastro</p>
            </div>
    
            <div class="card-group">
                <label for="nome">Usuário</label>
                <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite seu usuário" required>
            </div>
    
            <div class="card-group">
                <label for="senha">Senha</label>
                <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite sua senha" required>
            </div>

            <div class="form-group card-group">
                <label for="bio">Biografia</label>
                <textarea class="form-control" name="bio" id="bio" rows="5"></textarea>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="termCheck" id="termCheck" required>
                <label class="form-check-label" for="termCheck">
                    "Eu li e concordo com os <a href="#">termos</a> de uso"
                </label>
            </div>
    
            <div class="botoes">
                <input class="botao"  type="submit" value="Cadastrar"></input>
                <a href="./visualizarComunidade.php">
                    <input class="botao"  type="button" value="Página Inícial"></input>
                </a>
            </div>
        </div>
    </form>
</body>

<footer class="ftr">
    <p>This site is an academic project</p>
    <p>Copyright © 2020 - All rights reserved - Codificando</p>
</footer>
</html>

