<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicação</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/view/assets/css/styleComunidade.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <form class="formComunidade" method="POST" , action="../DAO/comunidade/Incluir.php">
        <div class="card">
            <div class="card-top">
                <img class="imgLogin" src="/view/assets/img/CodificandoLogo.png" alt="Logo">
                <h2 class="titulo">Codificando</h2>
                <p>Página de Publicação</p>
            </div>

            <div class="form-row">
                <div class="card-group col-md-8">
                    <label for="title">Título</label>
                    <input type="text" class="form-control" id="title" name="title"
                        placeholder="Digite o título da matéria">
                </div>
                <div class="card-group col-md-2">
                    <label for="theme">Tema</label>
                    <select name="theme" id="theme" class="form-control">
                        <option selected>Escolha...</option>
                        <option value="C">C</option>
                        <option value="C++">C++</option>
                        <option value="C#">C#</option>
                        <option value="Java">Java</option>
                        <option value="JS">JS</option>
                        <option value="GO">GO</option>
                        <option value="Python">Python</option>
                        <option value="HTML">HTML</option>
                        <option value="CSS">CSS</option>
                        <option value="PHP">PHP</option>
                        <option value="VB">VB</option>
                    </select>
                </div>

                <div class="card-group col-md-2">
                    <label for="datePublic">Data da publicação</label>
                    <input type="date" class="form-control" id="datePublic" name="datePublic">
                </div>
            </div>

            <div class="form-group card-group">
                <label for="content">Conteúdo</label>
                <textarea class="form-control" name="content" id="content" rows="6"></textarea>
            </div>

            <div class="card-group btn">
                <button type="submit" value="publicar">Publicar</button>
                <button type="button" value="cancelar">Cancelar</button>
            </div>
        </div>
    </form>


</body>

</html>