<!DOCTYPE html>
<html lang="pt-BR" class="htm">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunidades</title>
    <link rel="stylesheet" href="./assets/css/styleVisualizarComunidade.css">
    <link rel="icon" type="image/gif" href="./assets/img/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body class="bd">
    <header class="formComunidade">
        <div class="card">
            <div class="card-top">
                <div class="texto">
                    <img class="imgLogin" src="./assets/img/CodificandoLogo.png" alt="Logo">
                    <h2 class="titulo">Codificando</h2>
                </div>
                <div class="botoes">
                    <a href="login.html">
                        <input class="botao" type="button" value="Fazer Login"></input>
                    </a>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <img src="./assets/img/favicon.png" width="30" height="30" class="d-inline-block align-top pad" alt="Logo" loading="lazy">
            <a class="navbar-brand" href="./index.html">Codificando</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="./visualizarPerfil.php">Perfis <span class="sr-only">(current)</span></a>
                    <a class="nav-link" href="./visualizarComunidade.php">Comunidades</a>
                    <a class="nav-link" href="#">Sobre</a>
                </div>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Digite a sua pesquisa" aria-label="Search">
                <button class="bottao my-2 my-sm-0" type="submit">Procurar</button>
            </form>
        </nav>
    </header>

    <section class="escopo">
        <article class="card">

        </article>
    </section>




</html>
