<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codificando</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/styleIndex.css">
    <link rel="stylesheet" href="./assets/css/stylesComum.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="formIndex">
        <div class="card">
            <div class="card-top">
                <img class="imgLogin" src="./assets/img/CodificandoLogo.png" alt="Logo">
                <h2 class="titulo">Codificando</h2>
            </div>

            <div class="card-group btn">
                <button type="submit" value="entrar">Criar Comunidade</button>
                <button type="button" value="cadastrar"> Criar Post  </button>
            </div>
        </div>
        </form>
</body>

</html>